---
import Socials from "@components/Socials.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout>
  <h1 slot="title">Hey, I&apos;m Brandon.</h1>
  <div class="[color:#ccc] pt-4 pb-4">
    I'm a senior Computer Science student at <span class="text-red-400"
      >Arizona State University</span
    >. Through my coursework, I've gained valuable experience in cybersecurity,
    database management, operating systems, and more, enhancing my skills as a
    well-rounded developer.
  </div>
  <ul class="flex gap-2">
    <Socials
      link="https://www.linkedin.com/in/brandnramirez/"
      alt="linkedin"
      src="/img/socials/linkedin.svg"
    />
    <Socials
      link="https://github.com/rBrandon1"
      alt="github"
      src="/img/socials/github.svg"
    />
    <Socials
      link="mailto:ramirezbrandon077@gmail.com"
      alt="email"
      src="/img/socials/mail.svg"
    />
  </ul>
  <hr />
  <h2 class="text-2xl md:text-3xl font-bold">Work Experience</h2>
  <div class="[color:#ccc] pt-2">
    <span
      >Download my resume&nbsp;<a
        href="/img/Brandon_Ramirez.pdf"
        download
        target="_blank"
        rel="noreferrer"
        class="underline underline-offset-4 hover:text-red-400">here</a
      >.
    </span>
    <div class="ml-[15px]">
      <h1 class="text-xl font-bold">FCG Services</h1>
      <h2 class="text-sm text-gray-500">IT Intern</h2>
      <h3 class="text-sm text-gray-500">
        April 2023 - December 2023 | Peoria, Arizona
      </h3>
      <ul class="text-[16px]">
        <li>
          Installing SSL certificates onto an NGINX server running Ubuntu.
        </li>
        <li>
          Configuring networks for client offices, routing and configuring Cisco
          switches to LAN ports.
        </li>
        <li>
          Creating and modifying SQL databases using Microsoft SQL Server.
        </li>
        <li>
          Creating images of Windows computers and applying these images to new
          computers as needed.
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <h2 class="text-2xl md:text-3xl font-bold">About This Website</h2>
  <div class="[color:#ccc] pt-2">
    <ul class="list-disc pl-4">
      <li>
        Built using the <a
          href="https://astro.build/"
          target="_blank"
          rel="noreferrer"
          class="underline underline-offset-4 hover:text-red-400">Astro</a
        >
        framework
      </li>
      <li>
        Styled with <a
          href="https://tailwindcss.com/"
          target="_blank"
          rel="noreferrer"
          class="underline underline-offset-4 hover:text-red-400"
          >Tailwind CSS</a
        >
      </li>
      <li>
        Hosted on <a
          href="https://vercel.com/"
          target="_blank"
          rel="noreferrer"
          class="underline underline-offset-4 hover:text-red-400">Vercel</a
        >
      </li>
    </ul>
  </div>
</MainLayout>
