---
import MainLayout from "@layouts/MainLayout.astro";
import ProjectsLayout from "@layouts/ProjectsLayout.astro";
---

<MainLayout>
  <h1 slot="title">My Projects</h1>
  <div class="[color:#ccc] pt-4">
    Here are some projects that I've worked on to better my programming skills.
  </div>
  <hr />

  <ProjectsLayout
    imgAlt="chechocutzz"
    imgSrc="/img/projects/chechocutzz.png"
    showBtn={true}
    btnLink="https://chechocutzz.com"
    btnName="chechocutzz.com"
  >
    <div slot="name">ChechoCutzz</div>
    <div slot="description">
      ChechoCutzz is a website for a local barber. It allows clients to book
      haircuts and allows the barber manage upcoming appointments. This website
      was made using Next.js and styled with Tailwind CSS. The server - which
      stores the user and appointment data - is hosted on a MySQL database.
    </div>
  </ProjectsLayout>

  <ProjectsLayout
    imgAlt="snax"
    imgSrc="/img/projects/snax.png"
    btnLink="https://orifriesen.wixsite.com/mysite/snax"
    btnName="orifriesen.wixsite.com"
  >
    <div slot="name">Snax</div>
    <div slot="description">
      Snax is a cross-platform app that gives the snacking world its own social
      media platform. This app was made using Flutter in Visual Studio Code and
      Firebase.
    </div>
  </ProjectsLayout>
</MainLayout>
