---
import MainLayout from "@layouts/MainLayout.astro";
import ToolsLayout from "@layouts/ToolsLayout.astro";
---

<MainLayout>
  <div slot="title">Tools</div>
  <div class="[color:#ccc] pt-4">
    These are the frameworks, languages, and apps that I use on a daily basis
    and consider myself proficient in.
  </div>
  <hr />
  <ToolsLayout />
</MainLayout>
