---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="Brandon Ramirez" description="Welcome to my website." />
  </head>
  <div class="text-[16px] md:text-[18px]">
    <Header title="Brandon Ramirez" />
    <div class="main">
      <div class="container max-w-[860px]">
        <div class="header text-3xl md:text-5xl font-bold">
          <slot name="title" />
        </div>
        <slot />
      </div>
    </div>
    <Footer />
  </div>
</html>
