---
export interface ProjDetails {
  imgAlt: string;
  imgSrc: string;
  link: string;

  showBtn: boolean;
}

const { imgAlt, imgSrc, link } = Astro.props;
---

<div class="pt-4 pb-4">
  <div class="transition-transform duration-500 hover:-translate-y-2">
    <a href={link} target="_blank" rel="noreferrer">
      <img class="rounded-lg" alt={imgAlt} src={imgSrc} />
    </a>
  </div>
  <div class="max-w-[660px] mx-auto pt-4 pb-16">
    <div class="text-2xl md:text-3xl font-bold"><slot name="name" /></div>
    <div class="[color:#ccc] pt-2 pb-2"><slot name="description" /></div>
  </div>
</div>
