---
import ToolsCard from "@components/ToolsCard.astro";
---

<div>
  <!-- Frameworks -->
  <div class="pt-4 pb-4">
    <div class="text-2xl md:text-3xl font-bold">Frameworks</div>
    <div class="[color:#ccc] pt-2 pb-2">
      These are frameworks that I have worked with.
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 m-auto pt-4">
      <ToolsCard
        imgSrc="/img/frameworks/react.svg"
        link="https://reactjs.org/"
        title="React"
        website="reactjs.org"
      />
      <ToolsCard
        imgSrc="/img/frameworks/nextjs.svg"
        link="https://nextjs.org/"
        title="Next.js"
        website="nextjs.org"
      />
      <ToolsCard
        imgSrc="/img/frameworks/astro.svg"
        link="https://astro.build/"
        title="Astro"
        website="astro.build"
      />
    </div>
  </div>
  <!-- Languages -->
  <div class="pt-4 pb-4">
    <div class="text-2xl md:text-3xl font-bold">Programming Languages</div>
    <div class="[color:#ccc] pt-2 pb-2">These are my most used languages.</div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 m-auto pt-4">
      <ToolsCard
        imgSrc="/img/languages/html.svg"
        title="HTML and CSS"
        hover={false}
      />
      <ToolsCard imgSrc="/img/languages/c.svg" title="C/C++" hover={false} />
      <ToolsCard
        imgSrc="/img/languages/js.svg"
        title="Javascript"
        hover={false}
      />
      <ToolsCard
        imgSrc="/img/languages/ts.svg"
        title="Typescript"
        hover={false}
      />
    </div>
  </div>
  <!-- Apps -->
  <div class="pt-4 pb-4">
    <div class="text-2xl md:text-3xl font-bold">Apps</div>
    <div class="[color:#ccc] pt-2 pb-2">
      These are some apps that I use to do my work.
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 m-auto pt-4">
      <ToolsCard
        link="https://www.sketch.com/"
        imgSrc="/img/services/sketch.svg"
        title="Sketch"
        website="sketch.com"
      />
      <ToolsCard
        link="https://www.figma.com/"
        imgSrc="/img/services/figma.svg"
        title="Figma"
        website="figma.com"
      />
      <ToolsCard
        link="https://code.visualstudio.com/"
        imgSrc="/img/services/vscode.svg"
        title="Visual Studio Code"
        website="code.visualstudio.com"
      />
    </div>
  </div>
</div>
